*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: TenbyFive;
  scrollbar-width: none;
  background-color: #e6e6e6;
}
body,
#root,
.main {
  margin: 0;
  padding: 0;
}
#root {
  min-height: 100vh;
  position: relative;
}
.main {
  padding-bottom: min(75px, 20vh);
}
header {
  align-items: center;
  background-color: #14279b;
  box-shadow: 0px 2px 0px 1px white;
  color: #e6e6e6;
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  height: min(75px, 20vh);
  justify-content: center;
  margin-bottom: 20px;
  padding: min(1rem, 5vh);
  width: 100%;
  position: relative;
  top: 0;
}
.headerSpan,
.footerSpan {
  text-align: center;
  user-select: none;
}
.headerIcon {
  color: #e6e6e6;
  font-size: xx-large;
  margin-right: 1vh;
}
footer {
  align-items: center;
  background-color: #14279b;
  box-shadow: 0px -2px 0px 1px white;
  color: #e6e6e6;
  display: flex;
  font-size: x-large;
  height: min(75px, 20vh);
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footerIcon {
  color: #e6e6e6;
  font-size: x-large;
  margin-right: 1vh;
}
.footerIcon:hover {
  animation: spin 0.5s linear;
  color: white;
}
.container {
  margin: 5px auto;
  padding: 1rem;
  width: 50vw;
}
.center {
  margin: 0px auto;
  width: fit-content;
}
.score {
  width: 50%;
  text-align: center;
  font-family: TenbyFive;
  font-size: x-large;
}
.flagGrid {
  display: grid;
  grid-template-rows: repeat(5, 64px);
  grid-template-columns: repeat(5, 64px);
  gap: 0rem 1rem;
}
.flagWrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flagImg {
  display: block;
}
.flagImg:hover {
  cursor: pointer;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
}
p,
h3 {
  margin: 1px auto;
  text-align: center;
  user-select: none;
}
.clear {
  clear: both;
}
@font-face {
  font-family: "TenbyFive";
  src: url("../fonts/tenby-five-webfont.otf"),
    url("../fonts/tenby-five-webfont.eot"),
    url("../fonts/tenby-five-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tenby-five-webfont.woff2") format("woff2"),
    url("../fonts/tenby-five-webfont.woff") format("woff"),
    url("../fonts/tenby-five-webfont.ttf") format("truetype"),
    url("../fonts/tenby-five-webfont.svg#TenbyFive") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
